<div class="error-container">
    <h1>Error</h1>
    <p><%= message %></p>
    <% if (error && Object.keys(error).length > 0) { %>
        <pre><%= JSON.stringify(error, null, 2) %></pre>
    <% } %>
    <a href="/" class="btn-primary">Go Home</a>
</div>
